NUXT_API_BASE_SERVER=http://127.0.0.1:8800
NUXT_PUBLIC_SITE_URL=http://localhost:3000
NUXT_PUBLIC_SITE_NAME=Blog
NUXT_PUBLIC_SITE_DESCRIPTION=个人知识库与生活博客
NUXT_PUBLIC_SEO_IMAGE=/favicon.ico
NUXT_PUBLIC_RECORD_NUM=
NUXT_PUBLIC_ADMIN_URL=http://localhost:3001
NUXT_PUBLIC_AI_DOCUMENT_POLLING_ENABLED=false
